main {
    height: 100%;
    background-color: #060440 !important;
    color: #f2f2f2;
}

header {
    background-color: #060440;
    color: #f2f2f2;
}

button:focus {
    outline: none;
    background-color: #f28b0c !important;
}

.navbar {
    background-color: #f2f2f2 !important;
}

a {
    color: #050726 !important;
}

.card {
    background-color: #f28b0c !important;
    border-radius: 20px !important;
}

.container {
    padding: 3em;
    padding-left: 3em;
    padding-right: 3em;
    width: 100% !important;
    max-width: 100% !important;
}

.side-card {
    margin: 0 !important;
    color : #050726 !important;
}

@media (min-width: 992px) {
    .side-card {
        margin: 0.5em 2em 2em 0 !important;
    }
}

.twitch-frame {
    height: 378px;
    width: 550px;
    padding: 0.3em;
}

.card-index {
    height: 33em;
}

.card-about {
    height: 45em;
}

.comp-logo {
    height: 2em;
    width: 2em;
}

.comp-text {
    font-size : 17px !important;
}

.comp-table {
    font-size : 17px !important;
    color: #f2f2f2 !important;
}